<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yang.yunwang.home">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yang.yunwang.home.splash.StartUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainhome.MainHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.yang.yunwang.home.loginpage.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.home.mainhome.pwdpage.PasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.home.mainhome.RegistInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.home.mainhome.UpdateInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>
