<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yunwang.yunlaohu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CommonApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.yang.yunwang.home.splash.StartUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yang.yunwang.home.mainhome.MainHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.home.loginpage.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.OrderSearchAvtivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.OrdersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.info.OrdersListInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.base.view.scan.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.ZFBOrdersSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.WXOrdersSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.info.SettlementInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.SettlementListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.info.UnRefundInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.UnRefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.UnRefundListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.info.RefundInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.RefundSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.RefundListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.persnoalqr.PersonnelQRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.RefundListPrintActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.RefundPrintSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.CommonSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.info.CommonListInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.CommonListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.CommonDayCollectList"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.info.DaySettlementInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.search.CommonSearchRefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.info.CommonListInfoRefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.order.list.CommonListRefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.staff.StaffInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.staff.StaffListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.staff.StaffSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.merch.MerchantInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.merch.MerchantListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.merch.MerchantSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.allcoate.AllocateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.staffcollect.StaffCollectInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.staffcollect.StaffColletListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.query.view.staffcollect.StaffCollectSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.home.mainhome.pwdpage.PasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.home.mainhome.RegistInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.home.mainhome.UpdateInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.pay.view.scan.ScanCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.pay.view.scan.ScanResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yang.yunwang.pay.view.qr.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityStyle"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name="com.yang.yunwang.base.util.utils.jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yunwang.yunlaohu" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yang.yunwang.base.util.utils.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.yunwang.yunlaohu"></category>
            </intent-filter>
        </receiver>

        <service
            android:name="com.yang.yunwang.base.util.utils.jpush.PushSpeakService"
            android:priority="1000"></service>
        <service
            android:name="com.yang.yunwang.base.util.utils.jpush.DService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":service">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.yunwang.yunlaohu" />
            </intent-filter>

        </service>
    </application>

</manifest>
